<div class="displayTable">
  <div class="displayTableCell text-center">
    <div class="authBlock">
      <h3 class="text-center" style="margin-top: 18px;">Jelszó visszaállítás</h3>

      <p class="text-center">
        Kérjük, adja meg e-mail címét a jelszó visszaállításának kezdeményezéséhez.
      </p>

      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Email cím"
          #passwordResetEmail
          required
        />
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup" style="margin: 12px;">
        <button mat-stroked-button color="primary"
          (click)="authService.ForgotPassword(passwordResetEmail.value)"
        >
          <i class="fas fa-redo-alt"></i>
          Jelszó visszaállítás
        </button>
      </div>
    </div>

    <div class="redirectToLogin">
      <span
        >Vissza a bejelntkezéshez?
        <span class="redirect" routerLink="/login">Bejelenetkezés</span></span
      >
    </div>
  </div>
</div>
