<div class="login-container">
	<div class="login-content">
		<mat-toolbar class="login-toolbar" color="primary">REGISZTRÁCIÓ</mat-toolbar>
		<mat-card>

			<form [formGroup]="registerForm" #formDirective="ngForm" (ngSubmit)="onSubmit(registerForm, formDirective)">
				<mat-form-field>
					<mat-icon matPrefix>email</mat-icon>
					<input autofocus type="email" matInput placeholder="E-mail cím *" formControlName="email">
					<mat-error *ngIf="checkValidation('email')">
						{{ emaiErrors() }}
          
					</mat-error>
				</mat-form-field>


				<mat-form-field>
					<mat-icon matPrefix>lock_outline</mat-icon>
					<input type="password" autocomplete="false" matInput placeholder="Jelszó *" formControlName="password">
          <mat-hint>A jelszó legalább 6 karakter hosszú, tartalmaznia kell legalább egy <b>nagybetűt</b> és egy  <b>számot</b> </mat-hint>
      <mat-error *ngIf="checkValidation('password')">
        {{ getErrorPassword() }}
      </mat-error>
				</mat-form-field>
				
  <hr>
			<div class="socialMediaFlex">
        	<button style="width:50%" [disabled]="registerForm.invalid"    type="submit" mat-raised-button color="primary">REGISZTRÁLOK</button>
      </div>
			</form>

			<mat-toolbar class="login-toolbar" style="background-color:white">Regisztralas a következővel:</mat-toolbar>
			<div class="socialMediaFlex">
				<!-- <button mat-fab color="primary"><i class="fab fa-facebook-f"></i></button> -->
				<button mat-fab color="accent" (click)="googleAuth()"><i class="fab fa-google"></i></button>
			</div>

		</mat-card>
	</div>
</div>
