<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">{{title}}</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>
  
  <!-- Book form -->
  <div class="inner-wrapper">
    <form
      [formGroup]="bForm"
      (ngSubmit)="onSubmit()"
      #resetBookForm="ngForm"
      novalidate
    >
      <!-- Left block -->
      <mat-card>
        <div class="controlers-wrapper">
          <!-- Nev -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Hiba megnevezese" formControlName="nev" />
            <mat-error *ngIf="handleError('nev', 'required')">
              Kerem toltse ki a<strong>hiba megnevezese</strong> mezot
            </mat-error>
          </mat-form-field>
  
          <!-- Leiras -->
          <mat-form-field class="example-full-width">
            <textarea matInput
              formControlName="leiras" 
              placeholder="A hiba leirasa"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="10">
            </textarea>
            <mat-error *ngIf="handleError('leiras', 'required')">
              You must provide a <strong>10 digit ISBN</strong>
            </mat-error>
          </mat-form-field>
  
          <!--Datum -->
          <mat-form-field>
            <input
              matInput
              readonly
              [matDatepicker]="picker"
              placeholder="Meghibasodas ideje"
              formControlName="datum"
              (dateChange)="formatDate($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="handleError('datum', 'required')">
              Datum is required
            </mat-error>
          </mat-form-field>

          <!-- Keszulek tipus -->
          <mat-form-field>
            <mat-label>Keszulek tipus</mat-label>
            <mat-select formControlName="tipus">
              <mat-option
                [value]="btipus"
                *ngFor="let btipus of bejelentesTipus"
                >{{ btipus }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="handleError('tipus', 'required')">
              Binding type is required
            </mat-error>
          </mat-form-field>

        </div>
      </mat-card>
  
      <!-- Right block -->
      <mat-card>
        <div class="controlers-wrapper">
  
          <!-- Prioritas -->
          <div class="misc-bottom-padding">
           
            <mat-label>Prioritas: </mat-label>
              <mat-radio-group
                aria-label="Select an option"
                formControlName="prioritas"
                class="example-radio-group"
              >
              
                <mat-radio-button class="example-radio-button" value="Eletbevago">Eletbevago</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="Surgos">Surgos</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="Kevesbe_surgos">Kevesbe surgos</mat-radio-button>
               
              </mat-radio-group>
            <!-- </mat-form-field> -->
          </div>

          <!-- Leiras -->
          <mat-form-field class="example-full-width">
            <textarea matInput
              formControlName="egyeb"
              placeholder="Egyebb megjegyzes"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5">
            </textarea>
          </mat-form-field>
  
        </div>
      </mat-card>
  
      <!-- Submit & Reset -->
      <mat-card>
        <div class="full-wrapper button-wrapper">
          <div class="button-wrapper">        
            <button type="reset" mat-flat-button color="war" (click)="onReset()">
              Megse
            </button>
            <button mat-flat-button color="warn">Feltolt</button>
          </div>
        </div>
      </mat-card>
    </form>
  </div>
  
