<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">{{title}}</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>
  
  <!-- Book form -->
  <div class="inner-wrapper">
    <form
      [formGroup]="bForm"
      (ngSubmit)="onSubmit()"
      #resetBookForm="ngForm"
      novalidate
    >
      <!-- Left block -->
      <mat-card>
        <div class="controlers-wrapper">
          <!-- Nev -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Hiba megnevezése" formControlName="nev" [readonly]="readOnly" />
            <mat-error *ngIf="handleError('nev', 'required')">
              Kérem töltse ki a <strong>hiba megnevezése</strong> mezőt!
            </mat-error>
          </mat-form-field>
  
          <!-- Leiras -->
          <mat-form-field class="example-full-width">
            <textarea matInput
              [readonly]="readOnly"
              formControlName="leiras" 
              placeholder="A hiba leírása"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="10">
            </textarea>
            <mat-error *ngIf="handleError('leiras', 'required')">
              Kérem töltse ki a <strong>hiba leírása</strong>
            </mat-error>
          </mat-form-field>
  
          <!--Datum -->
          <mat-form-field>
            <input
              [readonly]="readOnly"
              matInput
              readonly
              [matDatepicker]="picker"
              placeholder="Meghibásodás ideje"
              formControlName="datum"
              (dateChange)="formatDate($event)"
            />
            <mat-datepicker-toggle
              [disabled]="readOnly"
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="handleError('datum', 'required')">
              A dátum kötelező!
            </mat-error>
          </mat-form-field>

          <!-- Keszulek tipus -->
          <mat-form-field>
            <mat-label>Készulek típus</mat-label>
            <mat-select formControlName="tipus">
              <mat-option
                [disabled]="readOnly"
                [value]="btipus"
                *ngFor="let btipus of bejelentesTipus"
                >{{ btipus }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="handleError('tipus', 'required')">
              Binding type is required
            </mat-error>
          </mat-form-field>

        </div>
      </mat-card>
  
      <!-- Right block -->
      <mat-card>
        <div class="controlers-wrapper">
  
          <!-- Prioritas -->
          <div class="misc-bottom-padding">
           
            <mat-label>Prioritás: </mat-label>
              <mat-radio-group
                [disabled]="readOnly"
                aria-label="Select an option"
                formControlName="prioritas"
                class="example-radio-group"
              >
              
                <mat-radio-button class="example-radio-button" value="Életbevágó">Életbevágó</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="Sürgős">Sürgős</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="Kevésbé_sürgős">Kevésbé_sürgős</mat-radio-button>
               
              </mat-radio-group>
            <!-- </mat-form-field> -->
          </div>

          <!-- Leiras -->
          <mat-form-field class="example-full-width">
            <textarea matInput
              [readonly]="readOnly"
              formControlName="egyeb"
              placeholder="Egyébb megjegyzés"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5">
            </textarea>
          </mat-form-field>
  
        </div>
      </mat-card>
  
      <!-- Submit & Reset -->
      <mat-card style="text-align: right">
        <div class="full-wrapper button-wrapper" *ngIf="!readOnly">
          <div class="button-wrapper">        
            <button type="reset" mat-flat-button color="warn" (click)="onReset()">
              Mégsem
            </button>
            <button mat-flat-button color="primary">Feltölt</button>
          </div>
        </div>
        <div class="full-wrapper button-wrapper" *ngIf="readOnly">
          <button mat-flat-button color="primary" (click)="goBack()">Vissza</button>
        </div>
      </mat-card>
    </form>
  </div>
  
