table.mat-table,
table {
  width: 100%;
}

.no-data {
    text-align: center;
    padding-top: 30px;
    color: #6c75a9;
  }

  .th-center{
    text-align: center;
  }
  .th-left{
    text-align: left;
  }
  .th-right{
    text-align: right;
  }

.w-75{
    width: 75px;
}

.w-100{
    width: 100px;
}

.title-group{
  margin-top: 10px;
  margin-left: 10px;
}

.table-responsive {
  padding: 12px;
  display: block;
  width: 100%;
  overflow-x: auto;
  .mat-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
  }
  .mat-row,
  .mat-header-row {
      display: table-row;
  }
  .mat-cell,
  .mat-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 5px;
      line-break: unset;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
  }
}