table.mat-table,
table {
  width: 100%;
}

.no-data {
    text-align: center;
    padding-top: 30px;
    color: #6c75a9;
  }

  .th-center{
    text-align: center;
  }
  .th-left{
    text-align: left;
  }
  .th-right{
    text-align: right;
  }

.w-75{
    width: 75px;
}

.w-100{
    width: 100px;
}

.title-group{
  margin-top: 10px;
  margin-left: 10px;
}